n8n_data/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "52aa1c70-32ff-4bd5-b98a-0df0b3b0798e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retrain-trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "id": "71f89b7c-616f-47e1-a4f0-7f09bea7e3ae",
      "name": "Webhook",
      "webhookId": "0b889314-a4a7-43bf-a1b7-33c8297a0ec4"
    },
    {
      "parameters": {
        "command": "C:\\Users\\daber\\OneDrive\\Documents\\ITSNEEDS\\FinalProject\\ModelTraining\\run_check_triggers.bat"
      },
      "id": "6d3c0ef2-8069-4f7f-8566-da649fa0b797",
      "name": "Check Triggers",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        250,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse(items[0].json.stdout || '{}');\nreturn [{ json: output }];"
      },
      "id": "7ec92f39-f9c3-42e8-b8cf-8988a86a63d9",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        -150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_retrain }}",
              "value2": true
            }
          ]
        }
      },
      "id": "966c9ff9-0a37-43ca-a38c-f0ad727bc2f6",
      "name": "If Should Retrain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        -150
      ]
    },
    {
      "parameters": {
        "command": "python3 /FinalProject/ModelTraining/trainingCredit.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        0
      ],
      "id": "0c3c4e74-3094-4721-99fb-ca0f7db30706",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b5d05eef-1c05-441e-8c92-0569660e1f49",
              "leftValue": "={{ JSON.parse($json.stdout.match(/\\{.*\\}/)[0]).auc_score }}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1050,
        0
      ],
      "id": "800fd6b8-4db4-46ac-9533-8d8cf0f81523",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/api/2.0/mlflow/model-versions/transition-stage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"Credit_Risk_Model\",\n  \"version\": \"1\", \n  \"stage\": \"Production\",\n  \"archive_existing_versions\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1250,
        -200
      ],
      "id": "e4601806-258e-4054-80af-0da1e621b397",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1250,
        150
      ],
      "id": "267ed6dc-aa88-42cf-83a1-9eac6c26e8d7",
      "name": "Wait",
      "webhookId": "6340e89b-2c8c-44c1-bdfd-8ac093995f49"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"my_new_field\"] = 1\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        150
      ],
      "id": "36c3b24c-ef03-45a8-964c-0b7cfba62274",
      "name": "Code in Python"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Triggers": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "If Should Retrain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Retrain": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "374240dd-f81e-4d70-b3ce-2049e4a5b8b9",
  "meta": {
    "instanceId": "848e8e8ed42694c021a6849646cb09cac8864f5f8ea64e1ee01171529c88f250"
  },
  "id": "Baf9M02mqS875UKY",
  "tags": []
}